<!----------下記コンタクトフォームが機能するかテストするための仮コード---------->
<div class="page-header">
  <h1>問い合わせ確認画面</h1>
</div>

<%= form_with model: @contact, :url => home_thanks_path, local: true do |form| %>
  <table class="table">
    <tr>
      <th>Email:</th>
      <td>
        <%= form.hidden_field :email %>
        <%= @contact.email %>
      </td>
    </tr>

    <tr>
      <th>Name:</th>
      <td>
        <%= form.hidden_field :name %>
        <%= @contact.name %>
      </td>
    </tr>

    <tr>
      <th>subject</th>
      <td>
        <%= form.hidden_field :subject %>
        <%= @contact.subject %>
      </td>
    </tr>

    <tr>
      <th>Message:</th>
      <td>
        <%= form.hidden_field :message %>
        <%= simple_format(@contact.message) %>
      </td>
    </tr>
  </table>
  <%= form.submit 'Send', :class => 'btn btn-primary' %>
<% end %>
<!----------仮コードここまで---------->
