<!--<main>-->
  <div class="main-content">
    <div class="black-background"></div>
    <video class="home-background-video" src="https://dl.dropboxusercontent.com/s/avwfyb16s8g0waq/homepage_loop.mp4" autoplay loop muted></video>
    <div class="content main-contents">
      <div class="upper-contents">
        <div class="bubbles left-bubble">
          <a href="/support/index"><img class="bubble-image bubble-1" src="assets/support_button.png" alt=""></a>
        </div>
        <div class="bubbles center-bubble">
          <a href="/join/index"><img class="bubble-image bubble-2" src="assets/join_button.png" alt=""></a>
        </div>
        <div class="bubbles right-bubble">
          <a href="/team/index"><img class="bubble-image bubble-3" src="https://dl.dropboxusercontent.com/s/5wsf6jno1380hx5/about_button.png" alt=""></a>
        </div>
      </div>
      <div class="lower-contents"></div>
    </div>
  </div>
  <div class="black-block">
    <div class="black-block-container">
      <p class="scroll_fade fade_off">Welcome to the mind.</p>
    </div>
  </div>
  <div class="virtual-reality">
    <div class="our-expertise-right">
      <p class="our-expertise-vertical">OUR EXPERTISE</p>
    </div>
    <div class="sub-content">
      <div class="explore-section">
        <a href="/vrgame/index"><h2>EXPLORE</h2></a>
      </div>
      <div class="our-expertise-description-section">
        <div class="our-expertise-description">
          <h2>The virtual escapism you’ve been searching for.</h2>
          <p>Alterscape is a collective dedicated to education through digital art media. We design and engineer experiential programmes using interactive virtual reality play-throughs that emulate neurological conditions.</p>
          <p>As a group, our specialities lie in VR/AR design, motion graphics, 3D imagery and storytelling. By marrying neurology, art and technology, our simulations take the viewer on an odyssey exploring the unique functions of the human body.</p>
        </div>
      </div>
    </div>
    <!--<div class="content">
      <div class="our-expertise-contents">
        <div class="our-expertise-content statement-left">
          <p class="our-vision-statement1">We imagine the world for you, so you no longer have to. Specialising in VR/AR design, motion graphics, 3D imagery and storytelling. Our artistry is dedicated to exploring
          </p>
        </div>
        <div class="our-expertise-content explore">
          <a href="/vrgame/index"><h1>EXPLORE</h1></a>
        </div>
        <div class="our-expertise-content statement-right">
          <p class="our-vision-statement2">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin nec est felis. Duis sit amet libero vitae lorem pellentesque semper et id neque. Proin venenatis mauris tempus aliquam ullamcorper. Ut cursus sed massa vel sollicitudin. Donec nibh leo, consequat ut neque ac, malesuada volutpat turpis.
          </p>
        </div>
      </div>
    </div>-->
  </div>
  <!--<div class="black-block2">
    <p class="scroll_fade fade_off">We are the storytellers of the virtual world.</p>
  </div>-->
  <div class="black-block2">
    <div class="black-block-container">
      <p class="scroll_fade fade_off">We are the storytellers of the virtual world.</p>
    </div>
  </div>
  <div class="our-vision1">
    <video class="purple-window-video" src="assets/purple_window_bg.mp4" autoplay loop muted></video>
    <div class="our-vision-right">
      <p class="our-vision-vertical">OUR VISION</p>
    </div>
    <div class="sub-content">
      <div class="our-vision-contents">
        <h2>We imagine the world for you, so that you no longer have to.</h2>
        <div class="our-vision-statements">
          <p class="our-vision-statement1">Our goal is simple: to explore what is considered a negative product of our DNA and deliver beautiful outcomes. We describe our work as an accurately inaccurate portrayal of living with a neurological condition. We do not visualise conditions on a factual basis, instead we put it to the people to direct our work and we do so to perfection.</p>
        </div>
      </div>
      <div class="floating-button-container">
        <a href="/team/index"><img class="purple-button" src="../assets/learn_more_purple_door_button.png" ></a>
      </div>
    </div>
  </div>
  <div class="purple-block">
    <p class="scroll_fade fade_off">Now is the time to discover.</p>
  </div>
  <div class="our-vision2">
    <div class="our-vision2-right">
      <p class="our-vision2-vertical">OUR VISION</p>
    </div>
    <div class="sub-content">
      <div class="our-vision-contents">
        <h2>Pushing the boundaries of human intellect.</h2>
        <div class="our-vision-statements">
          <p class="our-vision-statement1">We exist to challenge our perception by questioning the extent of our present knowledge. On record, there are over 600 neurological conditions, affecting up to 1 billion people and counting. Experiential education in VR is now considered the new effective tool to engage with audiences. We want to reform public understanding through use of this technology to deliver artistic recreations of real life experiences, educating about first aid and spreading awareness of our biological differences.</p>
          <p>We aim to exceed medical knowledge and finally show people the real life stories of those who want their experiences visually expressed.</p>
        </div>
      </div>
      <div class="floating-button-container">
        <a href="/team/index"><img class="orange-button" src="../assets/learnmore_brainbutton.png" ></a>
      </div>
    </div>
  </div>
  <div id="contact">
    <div class="contact-right">
      <p class="contact-vertical">CONTACT</p>
    </div>
    <div class="sub-content">
      <div class="contact-container">
        <div class="get-in-touch-section">
          <h2>Get in touch</h2>
          <p>We welcome diverse talent in our collective and are always on the lookout to work with new creatives from all walks of life.</p>
          <p>So whether you want to collaborate on a future project, share your experiences and ideas, or simply just speak with one of our team members, contuct us today.</p>
          <p>We'd love to hear from you!</p>
        </div>
        <div class="contact-form-section">
          <%= form_with model: @contact, :url => home_confirm_path do |form| %>
            <% if @contact.errors.any? %>
              <div class="alert alert-warning">
                <ul>
                  <% contact.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                  <% end %>
                </ul>
              </div>
            <% end %>
              <%= form.text_field :email, :placeholder => "Email", class: "input-email" %>
              <%= form.text_field :name, :placeholder => "Name", class: "input-name" %>
              <%= form.text_field :subject, :placeholder => "Subject", class: "input-subject" %>
              <%= form.text_area :message, :placeholder => "Message...", class: "textarea-message" %>
              <%= form.submit :submit, :placeholder => "Confirm", class: "submit-send" %>

                <!----------下記htmlでのformタグ内容---------->
              <!--<form action="#" method="post">
                <input class="input-email" type="text" name="email" placeholder="Email*">
                <input class="input-name" type="text" name="name" placeholder="Name*">
                <input class="input-subject" type="text" name="subject" placeholder="Subject">
                <textarea class="textarea-message" name="message" placeholder="Message..."></textarea>
                <input type="hidden" name="tomail" value="iyasiken@gmail.com">
                <input class="submit-send" type="submit" value="SEND">
              </form>-->
          <% end %>
        </div>
      </div>
    </div>
  </div>
<!--</main>-->
<%= render 'shared/footer' %>
