<!DOCTYPE html>
<html lang="en-us">
  <head>
    <title>AlterscapeCollective</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <!--<link rel="shortcut icon" href="../assets/TemplateData/favicon.ico">-->
    <link rel="shortcut icon" href="https://dl.dropboxusercontent.com/s/sj8qxffptftohb0/alterscape_collective_footer_logo.png">
    <link rel="stylesheet" href="../WebGLGame/TemplateData/style.css">
    <!--<link rel="stylesheet" href="../assets/TemplateData/style.css">-->
    <script src="../WebGLGame/TemplateData/UnityProgress.js"></script>
    <!--<script src="../assets/TemplateData/UnityProgress.js"></script>-->
    <script src="../WebGLGame/Build/UnityLoader.js"></script>
    <!--<script src="../assets/Build/UnityLoader.js"></script>-->
    <!--<script>
      window.onload = function(){
        var unityInstance = UnityLoader.instantiate("unityContainer", "/WebGLGame/Build/AllScenes3.json", {onProgress: UnityProgress});
      }
    </script>-->
    <!--<script>
      var unityInstance = UnityLoader.instantiate("unityContainer", "../assets/Build/AllScenes3.json", {onProgress: UnityProgress});
    </script>-->
  </head>
  <body>
    <header>
      <div class="content">
        <div class="header-left">
          <a href="/"><img src="https://dl.dropboxusercontent.com/s/rvx3db51sqai0ik/logo_final_mini.gif" alt="ICON"></a>
        </div>
        <div class="header-centre">
          <a href="/">ALTERSCAPE COLLECTIVE</a>
        </div>
        <div class="header-right">
          <ul class="menu-list">
            <li class="menu_vr"><a href="/projects/index">PROJECTS</a></li>
            <li class="menu_list"><a href="/#contact">CONTACT</a></li>
          </ul>
        </div>
      </div>
    </header>
    <%= yield %>
  </body>
</html>
